body {
    background-color: #96bade !important;
}

.container {
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-check-input {
    margin-right: 5px;
}

.btn-success {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #218838;
}

/* Table Styling */
.table {
    background: #ffffff;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.table th {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.table td {
    text-align: center;
}
