* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.main {
    background-color: rgb(49, 66, 73);
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 50px;
}


form {
    text-align: center;
}

form input {
    margin-block: 15px;
    width: 300px;
    padding: 20px 16px;
    border-radius: 10px;
    border: none;
}

form button {
    width: 100px;
    padding: 16px 10px;
    font-weight: 800;
    border-radius: 40px;
    border: none;
    color: rgb(7, 13, 88);
}

#result {
    width: 100%;
    text-align: center;
    color: white;
}

#result span {
    font-size: 30px;
}

.box-button button {
    margin-top: 20px;
    font-size: 15px;
    padding: 15px;
    font-weight: 500;
}

.hidden {
    display: none;
}

.active {
    display: block
}
/* #ans{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border-radius: 5px;
    margin: 16px auto;
} */